{% extends 'memo/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'memo/css/memo.css' %}">
{% endblock %}

{% block title %}復習一覧{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for review in reviews %}
                <div class="col-auto one-card">
                    <div class="card" style="width: 20rem;">
                        <img src="{{ review.image.url }}" alt="画像です。" height="300">
                        <div class="card-body">
                            <h4 class="card-title">{{ review.question }}</h4>
                            <p class="card-text"><strong>復習日：{{ review.update_time|date:"Y-m-j" }}</strong></p>
                            <div class="btns">
                                <p class="btn-content btns-btn">
                                    <a href="{% url 'memo:review_detail' review.pk %}" class="btn stretched-link" style="background-color: #77c7e2; color: #303f42;" tabindex="-1" role="button" aria-disabled="true">
                                        詳細
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}