{% extends 'memo/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'memo/css/memo_update.css' %}">
{% endblock %}

{% block title %}編集{% endblock %}

{% block content %}
    <div class="container">
        <div class="bg-light p-3 p-sm-5 my-4 rounded">
            <h1 class="display-4">メモ編集画面</h1>
            <hr class="my-4">
            <h4 class="page-description">メモを編集しましょう。</h4>
            <div>
                <p class="btn-content btns-btn">
                    <a href="{% url 'memo:memo' %}" class="btn" style="background-color: #77c7e2; color: #303f42;" tabindex="-1" role="button" aria-disabled="true">
                        一覧に戻る
                        <i class="far fa-list-alt"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="container update-div">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="cp_iptxt">
                {{ form.question }}
                <label>Question</label>
                <span class="focus_line"><i></i></span>
            </div>
            <div class="cp_iptxt">
                {{ form.text }}
                <label>Context</label>
                <span class="focus_line"><i></i></span>
            </div>
            <div class="cp_iptxt">
                {{ form.tag }}
                <label>Tag</label>
                <span class="focus_line"><i></i></span>
            </div>
            <div class="cp_iptxt">
                {{ form.update_time }}
                <label>Upate Time</label>
                <span class="focus_line"><i></i></span>
            </div>
            <div>
                <input type="submit" class="flat border2" value="更新！">
            </div>
        </form>
    </div>

{% endblock content %}